@import "../styles/colors.scss";

h2.page-title {
  font-size: 1.3em;
  text-align: center;
  margin: 1em 0 0.4em 0;
  text-transform: uppercase;
}

h4.page-subtitle {
  text-align: center;
  font-size: 1em;
  font-weight: 200;
}

.main-categories-nav {
  display: flex;
  list-style: none;
  justify-content: center;
  height: 2em;
  margin-top: 2em;
  li {
    a {
      padding: 0.1em 1em;
      border: 1px solid $white;
      color: $white;
      font-weight: 200;
      &:hover {
        background-color: $blue;
      }
      &.active {
        background-color: $white;
        color: $darkBlue;
      }
    }
  }
}
